	<br/>

		<%= simple_form_for @pic do |f| %>
			<%= f.input :lesson %>
			<%= f.input :image, label: "Add your image" %>
			<%= f.input :emotion, label: "How did you feel?", placeholder: 'Awful,Decent,Awesome' %>
			<%= f.input :learned, label: "What did you learn?", placeholder: 'HTML,CSS,Ruby,Rails,How to Read,ABCs'%>

			<%= submit_tag "Save", :class => 'btn btn-success btn-large' %>
		</div>
		<% end %>